/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Using wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-boxg;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    /* todo: review this colour later */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* styles for header, main & footer */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#options {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#options > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(9, 31, 31);;
}

/* Nav styings for dropdown */
nav {
    position: absolute;
    /* bg-color same as header so same color as header when expanded  */
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    padding-right: 30px;
    font-size: 2rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color:rgb(9, 31, 31);
}

main {
    background-color: lightblue;
    /* Fill the page with the main content pushing the footer to the bottom */
    flex: 1 0 auto;
    margin-top: 47px;
}

footer {
    background-color: orange;
}