/* Google fonts imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Using wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-boxg;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    /* todo: review this colour later */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* styles for header, main & footer */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color:rgb(9, 31, 31);
}

main {
    background-color: lightblue;
    /* Fill the page with the main content pushing the footer to the bottom */
    flex: 1 0 auto;
}

footer {
    background-color: orange;
}